mixin modal()
    #callback(class="modal fade")
        .modal-dialog.modal-md
            .modal-content
                .modal-body
                    button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                    .text-center
                        p.modal-title Связаться с нами
                        p.modal-titleSub Заполните форму и наши менеджеры свяжуться с вами в ближайшее время
                    br.hidden-md-down
                    .row
                        .col-lg-4
                            .form-group.required.required_yes
                                input.form-control(placeholder="Как к вам обращаться?")
                        .col-lg-4
                            .form-group.required
                                input.form-control(placeholder="Ваш номер телефона")
                        .col-lg-4
                            .form-group
                                input.form-control(placeholder="Укажите вашу эл. почту")
                    br
                    .row
                        .col-lg-4
                        .col-lg-4.text-center
                            button.btn.btn-green.ttu.btn-md.btn-width(disabled) СВЯЖИТЕСЬ С НАМИ
                        .col-lg-4
                            br.hidden-lg-up
                            span.desc-required #[span.desc-required__nowrap &nbsp;#[span.desc-required__icon *] —&nbsp;&nbsp;] #[span обязательные для заполнения поля]


    #callback-yes(class="modal fade")
        .modal-dialog.modal-sm
            .modal-content
                .modal-body
                    button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                    .text-center
                        p.modal-title Спасибо за заявку
                        p.modal-titleSub Наши менеджеры свяжуться с вами в ближайшее время

                    .text-center
                        button.btn.btn-green.ttu.btn-md СВЯЖИТЕСЬ С НАМИ


