/* Your custom fonts here */
@import "libraries/bourbon/bourbon";

// Example
//https://edgewebfonts.adobe.com/help#using-fonts-in-css
// 100 -> Thin, Hairline
// 200 -> Extra Light
// 300 -> Light
// 400 -> Normal, Book
// 500 -> Medium
// 600 -> Semibold, Demibold
// 700 -> Bold
// 800 -> Heavy, Extra Bold
// 900 -> Black

@include font-face("Open Sans", "../fonts/opensans/opensans", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 400;
};
@include font-face("Open Sans", "../fonts/opensans/opensansitalic", $file-formats: woff woff2 ttf){
  font-style: italic;
  font-weight: 400;
};

@include font-face("Open Sans", "../fonts/opensans/opensansbold", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 700;
};
@include font-face("Open Sans", "../fonts/opensans/opensansbolditalic", $file-formats: woff woff2 ttf){
  font-style: italic;
  font-weight: 700;
};

@include font-face("Open Sans", "../fonts/opensans/opensansextrabold", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 800;
};
@include font-face("Open Sans", "../fonts/opensans/opensansextrabolditalic", $file-formats: woff woff2 ttf){
  font-style: italic;
  font-weight: 800;
};

@include font-face("Open Sans", "../fonts/opensans/opensanslight", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 300;
};
@include font-face("Open Sans", "../fonts/opensans/opensanslightitalic", $file-formats: woff woff2 ttf){
  font-style: italic;
  font-weight: 300;
};

@include font-face("Open Sans", "../fonts/opensans/opensanssemibold", $file-formats: woff woff2 ttf){
  font-style: normal;
  font-weight: 600;
};
@include font-face("Open Sans", "../fonts/opensans/opensanssemibolditalic", $file-formats: woff woff2 ttf){
  font-style: italic;
  font-weight: 600;
};


